body {
  margin: 0;
  background: rgba(147, 173, 170, 0.3);
}

.welcome {
  font-size: 20pt;
  padding: 10pt;
}

.login {
  display: flex;
  flex-flow: column;
  width: 300pt;
  padding: 5pt;
  margin-left: 5pt;
}

.login>span {
  margin-top: 5pt;
  font-size: 15pt;
  font-family: sans-serif;
}
